body * {
  box-sizing: border-box;
  font-family: 'Indie Flower', cursive;
  font-size: 15px;
}
/* -------- *\
  The Aside - heading and instructions
\* --------*/
aside {
  width: 30%;
  text-align: center;
}

h1 {
  font-size: 50px;
  margin: 0;
}

.numberList ul {
  list-style: none;
  margin-left: 50%;
  transform:translateX(-50%);
}

.numberList li {
  border: 1px dashed green;
  border-radius: 5px;
  width:60px;
  height:60px;
  line-height: 60px;
  font-size: 40px;
  margin-bottom: 5px;
  cursor: move;
}

aside button {
  background: #f5ebeb;
  border-radius: 3px;
}
/* -------- *\
  End of The Aside
\* --------*/

/* -------- *\
  The board
\* --------*/
.container {
  border: 1px solid black;
  height: 548px;
  width: 548px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
}

.box {
  border: 1px solid blue;
  height: 182px;
  width: 182px;
  float: left;
}

.square {
  border: 1px dashed red;
  height: 60px;
  width: 60px;
  float: left;
  line-height: 60px;
  font-size: 40px;
  text-align: center;
}

.square.over {
  background: blue;
}
/* -------- *\
  End of The board
\* --------*/
